<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!--Formulário de login-->
    <div class="container">
        <div class="register-area">
            <h2>Login</h2>
            <form action="">
                <Label for="email-area">
                    <input type="text" id="email-area">
                </Label>
                <label for="password-area">
                    <input type="password" id="password-area">
                </label>
            </form>
            <button id="forget-password">Esqueci minha Senha</button>
            <button class="login" onclick="">Fazer Login</button>
            <button class="login">Fazer Cadastro</button>
        </div>
    </div>
</body>

</html>