<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!--Formulário de Registro-->
<div class="container">
        <div class="register-area">
            <h2>Cadastro</h2>
            <form id="formsRegister">
                <label for="email-area">
                    <input type="email" id="email-area" placeholder="Digite seu Email" required>
                </label>
                <label for="password-area">
                    <input type="password" id="password-area" placeholder="Digite sua Senha" required>
                </label>
                <p id="error-mensage"></p>
                
                <button type="submit" class="login">Cadastrar</button>
                <button class="login">Fazer Login</button>
            </form>    
        </div>
    </div>
    <script src="../controller/functions.js"></script>

</body>
</html>