<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <!--Formulário de Registro-->
    <div class="container">
        <div class="register-area">
            <h2>Cadastro</h2>
            <form action="/menu" method="POST" id="formsRegister">
                <Label for="name-area">
                    <input type="text" id="name-area" name="name" placeholder="Digite seu Nome" autofocus required>
                </Label>
                <label for="email-area">
                    <input type="email" id="email-area" name="email" placeholder="Digite seu Email" required>
                </label>
                <label for="password-area">
                    <input type="password" id="password-area" name="password" placeholder="Digite sua Senha" required>
                </label>
                <p id="error-mensage"></p>

                <button type="submit" class="login">Cadastrar</button>
                <button class="login">Fazer Login</button>
            </form>
        </div>
    </div>
    <script src="../controller/functions.js"></script>

</body>

</html>